language: android
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    - platform-tools
    - tools

    # The BuildTools version used by your project
    - build-tools-23.0.3

    # Additional components
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-24

    # The SDK version used to compile your project
    - android-24

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - sys-img-x86-android-23

script: ./gradlew build

jdk:
  - oraclejdk8

before_install:
  - mkdir -p $ANDROID_HOME/licenses
  # The hash may change in the future
  - echo '8933bad161af4178b1185d1a37fbf41ea5269c55' > $ANDROID_HOME/licenses/android-sdk-license

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
